
.floorPlanWrapper {
    height:80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.floorPlan {
    margin: 16px 0;
    max-height: 80vh;
    height: 80%;
}

.flexRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexRowRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.coordinates {
    text-align: left;
    margin: 16px 0;
}

.crosshair {
    cursor: crosshair;
}