
.floorPlanWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 16px 0;
}

.flexRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexRowRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (min-width: 550px) {
    .floorPlanWrapper {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
}