
.floorPlanWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 16px 0;
}

.floorPlan {
    width: 600px;
    height: 800px;
}

.flexRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flexRowRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.coordinates {
    text-align: left;
    margin: 16px 0;
}

.crosshair {
    cursor: crosshair;
}

@media screen and (min-width: 550px) {
    .floorPlanWrapper {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    }
}